@{
    ViewBag.Title = "About";
}
@section styles{
    @Styles.Render("~/Content/css/about.css")
}

<div class="parent">
    <div class="content">
        <h1>About</h1>
        <p>
            My name is Rafael Rozon and I recent graduated from British Columbia Institute of Technology (BCIT) 
            where I studied software development with specialization in multi-tier applications. In the last three 
            years I have lived in Burnaby (BC, Canada) and, during the school breaks, in Brazil, my homeland.
        </p>
        <p>
            Well, I think I have a diversified background. Let’s see. I am originally from São Paulo, but I have lived 
            in many cities in Brazil. I studied in more than six schools and I always had good grades. I can prove 
            it. After high school, I graduated in Language and Literature Portuguese from the 'University of São Paulo'.
            After the university, my career had to wait because I had to help in the business of my family. I started 
            from the lowest level and soon I could do any task at the company. After 2 years, I was responsible for the 
            deliveries and many times was the person in charge of the company. 
            Thanks to my family that always supported and encouraged me, I could come to Canada and continue my education 
            in a field that I always felt I belong to.
        </p>
        <p>
            I am 28 years old, I have a girlfriend and a family that I love and I am devoted to, I love technology in general, dogs, music, cooking, games, reading, cycling, travelling – who doesn’t like it? –, and movies.
        </p>
        <p>
            What really excites me in software development is the journey of building something meaningful for someone, 
            for a company, for a cause. For me the beauty is in seeing how a subjective problem is solved during the 
            software development life cycle employing a lot of exact science driven by a feeling of correctness, simplicity, 
            clarity, and still producing a strong, secure, and scalable application. The beauty is in reading code that 
            fits as a natural solution for the original problem. It is to write this kind of code that I have studied for.
        </p>
        <p>
            Thank you for your time visiting my website and getting to know more about me.        </p>
        <p>
            Please, feel free to make contact.
        </p>
        <p>

            Kind regards,<br /><br/>

            Rafael Rozon
        </p>

  
        <br /><br />

    </div>
</div>