@{
    ViewBag.Title = "Misc";
    Layout = "~/Views/Shared/_Layout.cshtml";


    @section styles{
        @Styles.Render("~/Content/css/misc.css")
    }
}
<div class="parent">
    <div class="content">
        <div class="featuredProjects">
            <div class="r1 widthTotal m-t-one">
                <div class="widthTwoThird mainProject">
                    <img src="~/Content/images/placeholder.png" />
                </div>
                <div class="widthThird">
                    <h2>Last Project</h2>
                    <p>Project Management App</p>
                    <p>COMP 4911 - CST / BCIT</p>
                </div>
            </div>
            <div class="r2 widthTotal m-t-one">
                <div class="widthThird secondProject">
                    <h2>sofiafisioterapia.com</h2>
                    <p>Website for Sofia M. Rottoli, fisioterapist</p>
                </div>
                <div class="widthTwoThird ">
                    <img src="~/Content/images/placeholder.png" />
                </div>
            </div>
        </div>
        <div class="r3 widthTotal m-t-one">
            <div class="widthThird extras">
                <h3>Resources</h3>
                <p>Project Management App</p>
                <p>Project Management App</p>
                <p>Project Management App</p>
            </div>
            <div class="widthThird extras">
                <h3>Reading List</h3>
                <p>Project Management App</p>
                <p>Project Management App</p>
                <p>Project Management App</p>
            </div>
            <div class="widthThird extras">
                <h3>Tutorials</h3>
                <p>Project Management App</p>
                <p>Project Management App</p>
                <p>Project Management App</p>
            </div>
        </div>
        <div class="r4 widthTotal m-t-one">
            <div class="widthThird extras">
                <h3>Tutorials</h3>
                <p>Project Management App</p>
                <p>Project Management App</p>
                <p>Project Management App</p>
            </div>
            <div class="widthThird">
                <h3>Tutorials</h3>
                <p>Project Management App</p>
                <p>Project Management App</p>
                <p>Project Management App</p>
            </div>
            <div class="widthThird">
                <h3>Tutorials</h3>
                <p>Project Management App</p>
                <p>Project Management App</p>
                <p>Project Management App</p>
            </div>
        </div>
    </div>
</div>

