@{
    ViewBag.Title = "Misc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
<link href="~/Content/css/workITem.css" rel="stylesheet" />
    
}
<div class="parent">
    <div class="content">

        <h2 class="workTitle">Project Management App</h2>
        <h3>COMP4900 - Managing Information Systems</h3>
        <h4>British Columbia Institute of Technology</h4>
        

        <h5 class="marginTopOne">The Objective</h5>
        <p>
            This project was developed to help software development companies to manage the budget allocated to projects. The company could make internal or external projects
            and each one can be splited into work packages. Projects and work packages are organized in a tree-like fashion, with the project being the root and the work pacjages descending from it.
            Employees are assigned to work packages and they can enter the amount of hours they have worked in each workpackage in a timesheet.
        </p>

        <h5 class="marginTopOne">Context</h5>
        <p>
            This project was developed for the course COMP 4911 "Managing Information Systems" at the British Columbia Institute of Technoogy (BCIT).
            Our set was divided in two groups of 10 people. Each team member had the opportunity to work in each role, but was mainly responsible for
            one aspect of the project. In my case, I was responsible for the user interface, but I also worked on the integration with back-end in some
            pages.
        </p>

        <p>
            One of the main goals of the project was also to learn the management of software development life cycle using the Rational Unified Process as a model.
            So, following the model, the split the project into five fases: Inception, Elaboration, Construction, Transition, and Deployment. Each fase had its own
            life cycle with requirements analysis and design, development, and deployment. After each iteraction a small part of the systems was incorporated to the whole
            system. We were also encouraged to collectively take desicions and manage our project. Although, we had a great project manager, the main decisons and the
            design choices were discussed as a group and everyone become a owner of the decisions.
        </p>

        <p>
            Documentation was also a great learning in this course. Our group divided the documentation and everyone had the opportunity to contribute. We developed
            several artifacts such as sequence, class, and interaction diagrams, use-case and domain models, software architecture plan, and user manual.
        </p>


        <h5 class="marginTopOne">My contribution</h5>

        <p>
            I designed and implemented most (I would say 95%) of the web pages of the project. I also created some two Java classes, "controllers", that saved the Status Report page and the
            Pay Levels page to the database. Besides these parts, I also helped my teammates with backend in other pages and some adjustments to the database.
        </p>

        <p>
            So, how I implemented the user interface. I used JSF and Expression Language for the integration with the backend and Bootstrap, HTMl, and CSS for layout, typography
            and styles in general. In some pages we required some fine control of how data would be displayed. In this situations I used PrimeFaces elements, such as data tables with pagination.
            This had several advantages: it was easy to get the data from Primefaces, we already had some code to use as template, and Primefaces has many options to deal with data.
        </p>

        <p>
            I created a master template made of blocks that could be included or not in each page of the application. In case we needed it, or if the application would expand and had more features.
            Some elements in the user interface can only be accessed by certain roles. For these elements, I wraped them with an ui:fragment and used a method, developed by another classmate,
            in an Expression Language to determine if the user has the right access to the resource or not.
        </p>



        <h5>Admin View</h5>
        <p class="marginBottomFive">
            This videos shows the options available to the administrator of the systems. It is the user which has access to
            all parts of the systems, according to our specification.
        </p>
       </div>
</div>