.heightS {
    height: 40%;
}

.heightL {
    height: 60%;
}

.heightT {
    height: 100%;
}

.m-t-one {
    margin-top: 1em;
}
.marginTopOne {
    margin-top: 1em;
}
.marginBottomFive{
    margin-bottom: 5em;
}
.m-one {
    margin: 1em;
}
.m-half {
    margin: .5em;
}

.colorWhite {
    color: #FFF;
}

.pad-md {
    padding: 2em;
}

.glyphsSocialMedia {
    color: #939393;
}

.center {
    width: 70%;
    margin: 0 auto;
}

.clear-fix {
    clear: both;
    line-height: 1px;
    margin-top: 1em;
}
.widthTotal {
    width: 100%;
}
