/* extra small devices */

.innerMain {
    padding-left: 0;
}

.contactArea {
    height: 100%;
    width: 100%;
    position: relative;
}

.introHeader {
    padding: 1em 0;
    text-align: center;
    font-size: 1.2em;
}

.contactForm .introHeader h2 {
    margin: 1.5em 0;
    font-size: 2.5em;
    text-align: center;
}

.contactForm {
    width: 80%;
    margin: 0 auto;
}

.socialMediaLinks {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    text-align: center;
}

    .socialMediaLinks h2 {
        margin-bottom: 2em;
    }

.sm {
    display: list-item;
    list-style: none;
    margin: 0.2em 0;
    font-size: 1.5em;
    border: 2px solid #808080;
    padding: .5em;
    border-radius: 2px 3px;
    width: 100%;
}

table {
    width: 100%;
}

.inputField {
    line-height: 2.5em;
    padding: .5em;
    width: 100%;
    max-width: 350px;
    display: block;
    margin: .5em;
    border-radius: 3px 4px;
    border: 3px solid #808080;
}

#btnSendEmail {
    background-color: white;
    border: 3px solid grey;
    padding: 1em;
    display: block;
    margin: 0.5em auto;
    font-size: 1.3em;
    border-radius: 3px 3px;
}

#validationMsg {
    text-align: center;
    margin: .5em auto;
    width: 62%;
}

.field-validation-error {
    color: red;
    padding: .5em;
    width: 100%;
    display: block;
}

/* small devices */
@media only screen and (min-width: 401px) {

    .innerMain {
        width: 100%;
        height: 100%;
    }

    .contactArea {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .introHeader {
        padding: 1em 0;
        text-align: center;
        font-size: 1.2em;
    }

    .contactForm .introHeader h2 {
        margin: 1em 0;
        font-size: 2.5em;
        text-align: center;
    }

    .contactForm {
        width: 100%;
        margin: 0 auto;
    }

    .socialMediaLinks {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        position: relative;
        text-align: center;
    }

        .socialMediaLinks h2 {
            margin-bottom: 2em;
        }

    .sm {
        margin: 0 .5em .5em 0;
        float: left;
        font-size: 1.5em;
    }

    table {
        width: 100%;
        margin: 0 auto;
    }

    .inputField {
        line-height: 2em;
        padding: .4em;
        width: 95%;
        max-width: 420px;
        display: block;
        margin: .5em;
        border-radius: 3px 4px;
        border: 3px solid #808080;
    }
}

/* medium devices */
@media only screen and (min-width: 801px) {

    .innerMain {
        width: 100%;
        height: 100%;
    }

    .contactArea {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    .introHeader {
        text-align: center;
        font-size: 1.4em;
    }

    .contactForm .introHeader h2 {
        margin: .5em;
    }

    .contactForm {
        width: 90%;
        margin: 0 auto;
    }

    .socialMediaLinks {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        position: relative;
        text-align: center;
    }

        .socialMediaLinks h2 {
            margin-bottom: 2em;
        }

    .sm {
        margin: 0 .5em .5em 0;
        float: left;
        font-size: 1.5em;
    }

    textarea {
    }

    table {
        width: 80%;
        margin: 0 auto;
    }

    #emailForm .inputField {
        line-height: 2em;
        padding: .4em;
        width: 100%;
        max-width: 420px;
        display: block;
        margin-right: 0px;
        margin: .5em auto;
        border-radius: 3px 4px;
        border: 2px solid #808080;
    }
}


/* large devices */
@media only screen and (min-width: 1201px) {

    .contactArea {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    .introHeader {
        padding: 3em 0 2em 0;
        text-align: center;
        font-size: 1.4em;
    }

    .contactForm {
        width: 90%;
        margin: 0 auto;
    }

    .socialMediaLinks {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
        position: relative;
        text-align: center;
    }

        .socialMediaLinks h2 {
            margin-bottom: 2em;
        }

    .sm {
        margin: 0 .5em .5em 0;
        float: left;
        font-size: 1.5em;
    }

    table {
        width: 80%;
        margin: 0 auto;
    }

    .inputField {
        line-height: 2em;
        padding: .4em;
        width: 80%;
        max-width: 420px;
        display: block;
        margin: .5em auto;
        border-radius: 3px 4px;
        border: 1px solid rgba(128, 128, 128, 0.2);
    }

    textarea {
        height: 225px;
    }

    #btnSendEmail {
        background-color: white;
        border: 3px solid grey;
        padding: 1em;
        display: block;
        margin: 0.5em auto;
        font-size: 1.3em;
        border-radius: 3px 3px;
    }
}
