h2 {
    font-size: 1.5em;
    padding-bottom: .5em;
}

h3 {
    font-size: 1.4em;
    padding-bottom: .5em;
}

.widthThird {
    width: 100%;
    background-color: aliceblue;
    margin: 0;
    padding: .5em;
}

.widthTwoThird {
    width: 100%;
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.innerMain {
    padding-bottom: 10em;
}

.r1, .r2, .r3, .r4 {
    height: 30%;
    width: 100%;
}

.r1 {
}

.r2 {
}

.r3 {
}

.r4 {
}

@media only screen and (min-width: 800px) {
    .extras {
        float: left;
        width: 50%;
    }

   
}

@media only screen and (min-width: 1200px) {

    img {
        height: 100%;
        width: 100%;
    }
    .r1 .widthThird {
        height: 70%;
    }
    .widthThird {
        width: 33%;
        float: left;
        background-color: aliceblue;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    

    .widthTwoThird {
        width: 66%;
        background-color: bisque;
        float: left;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .r1, .r2, .r3, .r4 {
        width: 98%;
        margin: 0 1em 2em 2em;
        height: 30%;
    }

    h3 {
        padding: .5em 0 0 .5em;
    }
}

@media only screen and (min-width: 1600px) {

    .r1 {
        float: left;
        width: 45%;
    }

    .r2 {
        float: right;
        width: 45%;
        position: relative;
    }

    .mainProject {
        width: 100%;
        float: none;
    }

    .r1 .widthThird {
        width: 100%;
    }


    .r2 img {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .r2 .secondProject {
        position: absolute;
        width: 100%;
        top: 278px;
    }

    .featuredProejects {
        height: 40%;
        position:relative;
        width: 100%;
    }

    .r3 {
        margin-top: 50%;
    }
}
