.parent, .content, .row {
    margin: 0;
    padding: 0;
    width: 99%;
}

.row {
    height: 300px;
    margin-bottom: 6em;
    border: 1px solid #B4BDCC;
    background-color: #fff;
}

    .row h2 {
        font-size: 1.5em;
        text-align: center;
        position: relative;
        top: .5em;
        height: 15%;
    }

.projectImg {
    background-color: bisque;
    height: 85%;
}

.description {
    display: none;
    position: relative;
}

    .description p {
        margin: 0;
        padding: 0;
        position: relative;
        top: 1.5em;
        left: 1.5em;
        float: left;
        max-width: 60%;
    }


    .description .tech {
        position: relative;
        float: right;
        right: 0;
        width: 30%;
        top: 1.5em;
    }

        .description .tech li {
            margin: 0 1em .5em 0;
            font-size: 1.4em;
            display: inline-block;
            padding: .5em;
            background-color: #B4BDCC;
            color: #fff;
            border-radius: 2px 2px;
        }

.readMore {
    background-color: #B4BDCC;
    color: #fff;
    padding: .5em;
}

    .readMore a {
        color: white;
        padding-left: .5em;
    }

    .row h2 {
        color: #EE5939;
    }

@media only screen and (min-width: 600px) {
.row {
    width: 75%;
    margin: 0 auto;
     clear: both;
        margin: 0 auto;
        height: auto;
        margin-bottom: 5em;
}
}


@media only screen and (min-width: 801px) {



    .projects {
        padding-top: 15em;
        width: 80%;
        margin: 0 auto;
    }

    .innerMain {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 1500px;
    }

    .row {
        clear: both;
        width: 75%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 5em;
    }

        .row h2 {
            font-size: 3em;
            position: relative;
            top: .75em;
            left: .5em;
            margin: 0;
            display: block;
            width: 100%;
            height: 5%;
        }

    .projectImg {
        margin-top: 5em;
        height: 70%;
    }

    .description {
        padding: .5em 0 5em 0;
        height: auto;
        display: block;
    }

        .description p {
            width: 60%;
            padding-right: .5em;
        }

    .content {
        width: 90%;
        margin: 0 auto;
        padding-top: 10em;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1201px) {

       .description .tech li {
        padding-top: .5em;
    }
}
